{% extends 'base.html' %}

{% block title %} Admin Summary {% endblock %}

{% block content %}

<div class="container-fluid vh-100 d-flex flex-column align-items-center justify-content-start p-4">
    <h2>Admin Summary</h2>
    <hr style="border: 2px solid black; width: 60%;">

    <h3>Average Percentage score per Subject</h3>
    <img src="data:image/png;base64,{{ admin_performance_plot }}" alt="Average Score Plot">

    <br>
    <hr style="border: 2px solid black; width: 60%;">
    <br>

    <h3>User Attempts per Subject</h3>
    <img src="data:image/png;base64,{{ user_attempts_plot }}" alt="User Attempts Plot">
</div>

{% endblock %}
