{% extends 'base.html' %}

{% block title %} Quiz Master {% endblock %}

{% block content %}

    {% if session.get('is_admin')==false %}

        <div class="container-fluid vh-100 d-flex flex-column align-items-center justify-content-start p-4">
            <div class="w-100 d-flex flex-column align-items-center gap-4">

                <h1 class="text-center">QUIZ HISTORY</h1>

                {% if not scores %}
                    <div class="text-center">
                        <h2 class="text-muted">No Quizzes Available</h2>
                    </div>
                {% endif %}

                {% for score in scores %}
                    <div class="card shadow border-dark-subtle rounded-4 w-50">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">{{ score.quiz.quiz_name | upper }}</h5>
                            <p class="card-text text-secondary">Subject: {{ score.quiz.chapter.subject.sub_name }}</p>
                            <p class="card-text text-secondary">Chapter: {{ score.quiz.chapter.chap_name }}</p>
                            <p class="card-text text-secondary">Number of Questions: {{ score.quiz.num_ques }}</p>
                            <a href=" {{ url_for('user_result', quiz_id=score.quiz.quiz_id) }} " class="btn btn-secondary"> View details </a>
                        </div>
                    </div>
                {% endfor %}
                <br><br>

            </div>
        </div>        

    {% else %}
        <h1>Not an User</h1>
    {% endif %}

{% endblock %}